
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'slidehome';

@import 'admin';

@import 'productslide';


@import 'light-bootstrap-dashboard';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}
 
body {
  // overflow: hidden;
  // width: 100%;
  // height: 100%;
  // padding: 0;
  // margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation */
.navigation {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
 
.navigation-left {

  margin-left: -33px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 107px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    transition: all .2s;

    &:hover, &:focus {
    	border-color: rgb(234, 46, 73);
    	background-color: rgba(44, 45, 47, 0);
    }
  }
}
 
.navigation-center {
  margin-right: 85px;
}
 
.navigation-right {
  display: flex;
  align-items: center;
}
 
.login-btn {
  background-color: #b8b8b9;
  width: 97px;
  height: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: #333745;
  text-transform: uppercase;
  margin-left: 20px;
  transition: all .2s;
  cursor: pointer;

  &:hover {
  	transform: scale(1.06);
  }
}
.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: relative;
  height: 753px;
}

.men-image, .women-image {
	height: 730px;
	background-size: cover !important;
	box-shadow: 1px 2px 9px 6px #c6bcbc;

	.img-text {
		position: absolute;
		left: 45%;
		bottom: 3%;
	}
}

.men-image {
	background: url('/images/model-3.png') no-repeat;
}
.women-image {
	background: url('/images/model-2.png') no-repeat;
}
.form-control:focus, .select2:focus, .select2-container--focus, 
.select2-search__field:focus, .selection:focus, .select2-selection:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #c4c4c4d1 !important;
}